@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Trade+Winds%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-o3QziVtrfSlw_font-family: "Inter", sans-serif;
  --mixin-o3QziVtrfSlw_font-size: 16px;
  --mixin-o3QziVtrfSlw_font-weight: 400;
  --mixin-o3QziVtrfSlw_font-style: normal;
  --mixin-o3QziVtrfSlw_color: #535353;
  --mixin-o3QziVtrfSlw_text-align: left;
  --mixin-o3QziVtrfSlw_text-transform: none;
  --mixin-o3QziVtrfSlw_line-height: 1.5;
  --mixin-o3QziVtrfSlw_letter-spacing: normal;
  --mixin-o3QziVtrfSlw_white-space: pre-wrap;
  --mixin-o3QziVtrfSlw_user-select: text;
  --mixin-o3QziVtrfSlw_text-decoration-line: none;
  --mixin-o3QziVtrfSlw_text-overflow: clip;
  --mixin-9X1NEmI0fC_p_color: #000000;
  --mixin-9X1NEmI0fC_p_font-weight: 700;
  --mixin-9X1NEmI0fC_p_font-size: 64px;
  --mixin-9X1NEmI0fC_p_line-height: 1;
  --mixin-9X1NEmI0fC_p_letter-spacing: -1px;
  --mixin-9X1NEmI0fC_p_white-space: pre-wrap;
  --mixin-EsFxxWpCiDTL_color: #000000;
  --mixin-EsFxxWpCiDTL_font-size: 48px;
  --mixin-EsFxxWpCiDTL_font-weight: 700;
  --mixin-EsFxxWpCiDTL_letter-spacing: -0.5px;
  --mixin-EsFxxWpCiDTL_line-height: 1.1;
  --mixin-EsFxxWpCiDTL_white-space: pre-wrap;
  --mixin-Sek-rDMap50J_color: #0070f3;
  --mixin-Sek-rDMap50J_white-space: pre-wrap;
  --mixin-RNriqcDWxRpq_color: #000000;
  --mixin-RNriqcDWxRpq_font-size: 32px;
  --mixin-RNriqcDWxRpq_font-weight: 600;
  --mixin-RNriqcDWxRpq_line-height: 1.2;
  --mixin-RNriqcDWxRpq_white-space: pre-wrap;
  --mixin-CEUq4Nv7XfBg_color: #000000;
  --mixin-CEUq4Nv7XfBg_font-size: 24px;
  --mixin-CEUq4Nv7XfBg_font-weight: 600;
  --mixin-CEUq4Nv7XfBg_line-height: 1.3;
  --mixin-CEUq4Nv7XfBg_white-space: pre-wrap;
  --mixin-LVaoQLoAFJqj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-LVaoQLoAFJqj_border-bottom-color: #dddddd;
  --mixin-LVaoQLoAFJqj_border-bottom-style: solid;
  --mixin-LVaoQLoAFJqj_border-bottom-width: 1px;
  --mixin-LVaoQLoAFJqj_border-left-color: #dddddd;
  --mixin-LVaoQLoAFJqj_border-left-style: solid;
  --mixin-LVaoQLoAFJqj_border-left-width: 1px;
  --mixin-LVaoQLoAFJqj_border-right-color: #dddddd;
  --mixin-LVaoQLoAFJqj_border-right-style: solid;
  --mixin-LVaoQLoAFJqj_border-right-width: 1px;
  --mixin-LVaoQLoAFJqj_border-top-color: #dddddd;
  --mixin-LVaoQLoAFJqj_border-top-style: solid;
  --mixin-LVaoQLoAFJqj_border-top-width: 1px;
  --mixin-LVaoQLoAFJqj_border-bottom-left-radius: 3px;
  --mixin-LVaoQLoAFJqj_border-bottom-right-radius: 3px;
  --mixin-LVaoQLoAFJqj_border-top-left-radius: 3px;
  --mixin-LVaoQLoAFJqj_border-top-right-radius: 3px;
  --mixin-LVaoQLoAFJqj_font-family: "Inconsolata";
  --mixin-LVaoQLoAFJqj_padding-bottom: 1px;
  --mixin-LVaoQLoAFJqj_padding-left: 4px;
  --mixin-LVaoQLoAFJqj_padding-right: 4px;
  --mixin-LVaoQLoAFJqj_padding-top: 1px;
  --mixin-LVaoQLoAFJqj_white-space: pre-wrap;
  --mixin-EDIvj_zEIWgc_border-left-color: #dddddd;
  --mixin-EDIvj_zEIWgc_border-left-style: solid;
  --mixin-EDIvj_zEIWgc_border-left-width: 3px;
  --mixin-EDIvj_zEIWgc_color: #888888;
  --mixin-EDIvj_zEIWgc_padding-left: 10px;
  --mixin-EDIvj_zEIWgc_white-space: pre-wrap;
  --mixin-14dh2XfvbkCv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-14dh2XfvbkCv_border-bottom-color: #dddddd;
  --mixin-14dh2XfvbkCv_border-bottom-style: solid;
  --mixin-14dh2XfvbkCv_border-bottom-width: 1px;
  --mixin-14dh2XfvbkCv_border-left-color: #dddddd;
  --mixin-14dh2XfvbkCv_border-left-style: solid;
  --mixin-14dh2XfvbkCv_border-left-width: 1px;
  --mixin-14dh2XfvbkCv_border-right-color: #dddddd;
  --mixin-14dh2XfvbkCv_border-right-style: solid;
  --mixin-14dh2XfvbkCv_border-right-width: 1px;
  --mixin-14dh2XfvbkCv_border-top-color: #dddddd;
  --mixin-14dh2XfvbkCv_border-top-style: solid;
  --mixin-14dh2XfvbkCv_border-top-width: 1px;
  --mixin-14dh2XfvbkCv_border-bottom-left-radius: 3px;
  --mixin-14dh2XfvbkCv_border-bottom-right-radius: 3px;
  --mixin-14dh2XfvbkCv_border-top-left-radius: 3px;
  --mixin-14dh2XfvbkCv_border-top-right-radius: 3px;
  --mixin-14dh2XfvbkCv_font-family: "Inconsolata";
  --mixin-14dh2XfvbkCv_padding-bottom: 3px;
  --mixin-14dh2XfvbkCv_padding-left: 6px;
  --mixin-14dh2XfvbkCv_padding-right: 6px;
  --mixin-14dh2XfvbkCv_padding-top: 3px;
  --mixin-14dh2XfvbkCv_white-space: pre-wrap;
  --mixin-KYcif1uzF6WI_display: flex;
  --mixin-KYcif1uzF6WI_flex-direction: column;
  --mixin-KYcif1uzF6WI_align-items: stretch;
  --mixin-KYcif1uzF6WI_justify-content: flex-start;
  --mixin-KYcif1uzF6WI_list-style-position: outside;
  --mixin-KYcif1uzF6WI_padding-left: 40px;
  --mixin-KYcif1uzF6WI_position: relative;
  --mixin-KYcif1uzF6WI_list-style-type: disc;
  --mixin-KYcif1uzF6WI_white-space: pre-wrap;
  --mixin-TvdbLdg1SOom_display: flex;
  --mixin-TvdbLdg1SOom_flex-direction: column;
  --mixin-TvdbLdg1SOom_align-items: stretch;
  --mixin-TvdbLdg1SOom_justify-content: flex-start;
  --mixin-TvdbLdg1SOom_list-style-position: outside;
  --mixin-TvdbLdg1SOom_padding-left: 40px;
  --mixin-TvdbLdg1SOom_position: relative;
  --mixin-TvdbLdg1SOom_list-style-type: decimal;
  --mixin-TvdbLdg1SOom_white-space: pre-wrap;
  --mixin-2bw-WZBOrIuX_color: #000000;
  --mixin-2bw-WZBOrIuX_font-size: 20px;
  --mixin-2bw-WZBOrIuX_font-weight: 600;
  --mixin-2bw-WZBOrIuX_line-height: 1.5;
  --mixin-2bw-WZBOrIuX_white-space: pre-wrap;
  --mixin-0Y6ufv-ivSO5_color: #000000;
  --mixin-0Y6ufv-ivSO5_font-size: 16px;
  --mixin-0Y6ufv-ivSO5_font-weight: 600;
  --mixin-0Y6ufv-ivSO5_line-height: 1.5;
  --mixin-0Y6ufv-ivSO5_white-space: pre-wrap;
  --mixin-6yk8tnKaoZ4Z_color: #3291ff;
  --mixin-6yk8tnKaoZ4Z_white-space: pre-wrap;
  --mixin-ecHbfwqx-IDg_white-space: pre-wrap;
  --mixin-T6Zbwe6c1o5g_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-o3QziVtrfSlw_font-family);
  font-size: var(--mixin-o3QziVtrfSlw_font-size);
  font-weight: var(--mixin-o3QziVtrfSlw_font-weight);
  font-style: var(--mixin-o3QziVtrfSlw_font-style);
  color: var(--mixin-o3QziVtrfSlw_color);
  text-align: var(--mixin-o3QziVtrfSlw_text-align);
  text-transform: var(--mixin-o3QziVtrfSlw_text-transform);
  line-height: var(--mixin-o3QziVtrfSlw_line-height);
  letter-spacing: var(--mixin-o3QziVtrfSlw_letter-spacing);
  white-space: var(--mixin-o3QziVtrfSlw_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-9X1NEmI0fC_p_color);
  font-weight: var(--mixin-9X1NEmI0fC_p_font-weight);
  font-size: var(--mixin-9X1NEmI0fC_p_font-size);
  line-height: var(--mixin-9X1NEmI0fC_p_line-height);
  letter-spacing: var(--mixin-9X1NEmI0fC_p_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-EsFxxWpCiDTL_color);
  font-size: var(--mixin-EsFxxWpCiDTL_font-size);
  font-weight: var(--mixin-EsFxxWpCiDTL_font-weight);
  letter-spacing: var(--mixin-EsFxxWpCiDTL_letter-spacing);
  line-height: var(--mixin-EsFxxWpCiDTL_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Sek-rDMap50J_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-RNriqcDWxRpq_color);
  font-size: var(--mixin-RNriqcDWxRpq_font-size);
  font-weight: var(--mixin-RNriqcDWxRpq_font-weight);
  line-height: var(--mixin-RNriqcDWxRpq_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-CEUq4Nv7XfBg_color);
  font-size: var(--mixin-CEUq4Nv7XfBg_font-size);
  font-weight: var(--mixin-CEUq4Nv7XfBg_font-weight);
  line-height: var(--mixin-CEUq4Nv7XfBg_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-LVaoQLoAFJqj_font-family);
  border-radius: var(--mixin-LVaoQLoAFJqj_border-top-left-radius)
    var(--mixin-LVaoQLoAFJqj_border-top-right-radius)
    var(--mixin-LVaoQLoAFJqj_border-bottom-right-radius)
    var(--mixin-LVaoQLoAFJqj_border-bottom-left-radius);
  padding: var(--mixin-LVaoQLoAFJqj_padding-top)
    var(--mixin-LVaoQLoAFJqj_padding-right)
    var(--mixin-LVaoQLoAFJqj_padding-bottom)
    var(--mixin-LVaoQLoAFJqj_padding-left);
  border-top: var(--mixin-LVaoQLoAFJqj_border-top-width)
    var(--mixin-LVaoQLoAFJqj_border-top-style)
    var(--mixin-LVaoQLoAFJqj_border-top-color);
  border-right: var(--mixin-LVaoQLoAFJqj_border-right-width)
    var(--mixin-LVaoQLoAFJqj_border-right-style)
    var(--mixin-LVaoQLoAFJqj_border-right-color);
  border-bottom: var(--mixin-LVaoQLoAFJqj_border-bottom-width)
    var(--mixin-LVaoQLoAFJqj_border-bottom-style)
    var(--mixin-LVaoQLoAFJqj_border-bottom-color);
  border-left: var(--mixin-LVaoQLoAFJqj_border-left-width)
    var(--mixin-LVaoQLoAFJqj_border-left-style)
    var(--mixin-LVaoQLoAFJqj_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EDIvj_zEIWgc_color);
  padding-left: var(--mixin-EDIvj_zEIWgc_padding-left);
  border-left: var(--mixin-EDIvj_zEIWgc_border-left-width)
    var(--mixin-EDIvj_zEIWgc_border-left-style)
    var(--mixin-EDIvj_zEIWgc_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-14dh2XfvbkCv_font-family);
  border-radius: var(--mixin-14dh2XfvbkCv_border-top-left-radius)
    var(--mixin-14dh2XfvbkCv_border-top-right-radius)
    var(--mixin-14dh2XfvbkCv_border-bottom-right-radius)
    var(--mixin-14dh2XfvbkCv_border-bottom-left-radius);
  padding: var(--mixin-14dh2XfvbkCv_padding-top)
    var(--mixin-14dh2XfvbkCv_padding-right)
    var(--mixin-14dh2XfvbkCv_padding-bottom)
    var(--mixin-14dh2XfvbkCv_padding-left);
  border-top: var(--mixin-14dh2XfvbkCv_border-top-width)
    var(--mixin-14dh2XfvbkCv_border-top-style)
    var(--mixin-14dh2XfvbkCv_border-top-color);
  border-right: var(--mixin-14dh2XfvbkCv_border-right-width)
    var(--mixin-14dh2XfvbkCv_border-right-style)
    var(--mixin-14dh2XfvbkCv_border-right-color);
  border-bottom: var(--mixin-14dh2XfvbkCv_border-bottom-width)
    var(--mixin-14dh2XfvbkCv_border-bottom-style)
    var(--mixin-14dh2XfvbkCv_border-bottom-color);
  border-left: var(--mixin-14dh2XfvbkCv_border-left-width)
    var(--mixin-14dh2XfvbkCv_border-left-style)
    var(--mixin-14dh2XfvbkCv_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KYcif1uzF6WI_display);
  flex-direction: var(--mixin-KYcif1uzF6WI_flex-direction);
  align-items: var(--mixin-KYcif1uzF6WI_align-items);
  justify-content: var(--mixin-KYcif1uzF6WI_justify-content);
  list-style-position: var(--mixin-KYcif1uzF6WI_list-style-position);
  padding-left: var(--mixin-KYcif1uzF6WI_padding-left);
  position: var(--mixin-KYcif1uzF6WI_position);
  list-style-type: var(--mixin-KYcif1uzF6WI_list-style-type);
  flex-column-gap: var(--mixin-KYcif1uzF6WI_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-TvdbLdg1SOom_display);
  flex-direction: var(--mixin-TvdbLdg1SOom_flex-direction);
  align-items: var(--mixin-TvdbLdg1SOom_align-items);
  justify-content: var(--mixin-TvdbLdg1SOom_justify-content);
  list-style-position: var(--mixin-TvdbLdg1SOom_list-style-position);
  padding-left: var(--mixin-TvdbLdg1SOom_padding-left);
  position: var(--mixin-TvdbLdg1SOom_position);
  list-style-type: var(--mixin-TvdbLdg1SOom_list-style-type);
  flex-column-gap: var(--mixin-TvdbLdg1SOom_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-2bw-WZBOrIuX_color);
  font-size: var(--mixin-2bw-WZBOrIuX_font-size);
  font-weight: var(--mixin-2bw-WZBOrIuX_font-weight);
  line-height: var(--mixin-2bw-WZBOrIuX_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-0Y6ufv-ivSO5_color);
  font-size: var(--mixin-0Y6ufv-ivSO5_font-size);
  font-weight: var(--mixin-0Y6ufv-ivSO5_font-weight);
  line-height: var(--mixin-0Y6ufv-ivSO5_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-6yk8tnKaoZ4Z_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
